header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.home-header {
  text-align: center;
}

@keyframes clignoter {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.cursor {
  display: inline-block;
  animation: clignoter 1s infinite;
  font-size: 1rem;
  color: var(--color-primary);
}

.illustration {
  position: absolute;
  margin-top: 7vh;
  left: 50%;
  width: 30rem;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 50%;
}

#scrolldown {
  margin-top: 2rem;
}

/* =========== POUR LES TABLETTES =========== */
@media screen and (max-width: 1224px){
  .illustration {
    height: 30%;
    width: 30%;
  }
}

/* =========== POUR LES TELEPHONES =========== */
@media screen and (max-width: 600px) {
  .illustration {
    height: 30%;
    width: 30%;
  }
}